html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  width: 600px;
  height: 250px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 30px;
  box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.3);
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.typeContainer {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
} 

.button {
  width: 100px;
  height: auto;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(255, 255, 255, 0.4);
  padding: 10px;
  margin: 10px;
}

.selectMonth {
  width: 200px;
  height: 40px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgb(255, 255, 255, 0.4);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 25px;
  border: none;
}

.butt {
  width: 140px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgb(255, 255, 255, 0.4);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  border: none;
  margin: 20px;
}

.monthForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  margin: 10px;
  padding: 10px;
  width: 100vw;
  height: 50px;
  background-color: rgb(255, 255, 255, 0.3);
  display: flex;
  color: rgb(255, 255, 255, 0.9);
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.butt2 {
  width: 150px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgb(255, 255, 255, 0.4);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  border: none;
  margin: 20px;
  color: rgb(255, 255, 255, 0.9);
}

.allResult {
  width: 100vw;
  display: flex;
  
}

.resultIMG {
  background-color: rgb(255, 255, 255, 0.3);
  height: 250px;
  width: 200px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255, 0.9);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

h5 {
  font-weight: bold;
  margin: 5px;
}

.img {
  width: 150px;
  height: 100px;
  margin: 5px;
}